*.exe
*.o
*.obj
*.dll
*.lib
*.so
*.dylib
*.ncb
*.sdf
*.suo
*.pdb
*.idb
*.DS_Store
*.ilk
*.aps
*.user
*.userprefs
*.pch
*.vspscc
*_i.c
*_p.c
*.dmp
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
[Oo]bj/
[Bb]in/
[Dd]ebug*/
[Rr]elease*/
[xX][64]/
[xX]86/
[Bb]uild/
[Bb]uilds/
[Aa]nalytics*
ipch/
*.tlog
*.log
*.vs/
*.opendb
*.VC.db
*.ipch
*.idb
*.pdb
*.ilk
*.meta
*.obj
*.pch
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
*.user
*.userosscache
*.suo
*.pidb
*.svclog
*.scc
*.sln
*.vcxproj
*.vcxproj.filters

*.bmp
*.tiff
*.yml
*.xml
*.csv

/[Bb]in/
/[Dd]ebug/
/[Rr]elease/
/[Bb]uild/
/[Tt]emp/
/.vs/
/__pycache__/
/[Ll]ib/
/[Ll]ogs/
/[Oo]ut/

[Dd]ebug*/
[Rr]elease*/
x64/
x86/
[Aa]rm/
[Aa]rm64/
[Bb]uild/

*.nupkg
*.snupkg
/packages/
*.nuget.targets
*.nuget.props
